{
  "Servers": {
    "1": {
      "Name": "PostgreSQL server",
      "Group": "Servers",
      "Port": 5432,
      "Username": "odoo",
      "Host": "{{ postgres_host }}",
      "SSLMode": "prefer",
      "MaintenanceDB": "postgres"
    }
  }
}
